<div data-message-user-id="<%= message.user_id %>">
  <p><%= message.content %></p>
  <small class="text-xs opacity-70">
    <%= message.user.username %> • 
    <%= message.created_at.strftime("%l:%M %p") %> •
    <%= time_ago_in_words(message.created_at) %> ago
  </small>
</div>